# build output
dist/
.astro/

# dependencies
node_modules/

# logs
npm-debug.log*
pnpm-debug.log*

# env
.env
.env.*
!.env.example

# cloudflare
.wrangler/
.dev.vars

# os / editors
.DS_Store
.vscode/*
!.vscode/extensions.json
.idea/
